# - Indexing

In [1]:
# make a String

a = "Samosa Pakora"
a

'Samosa Pakora'

In [2]:
a

'Samosa Pakora'

In [8]:
# Length of indeces
len(a)

13

In [5]:
a[0]

'S'

In [6]:
a[1]

'a'

In [7]:
a[3]

'o'

In [10]:
a[12]

'a'

In [12]:
a[0:5]

'Samos'

In [14]:
# Last index is exclusive
a[0:13]

'Samosa Pakora'

In [22]:
a[-6:13]

'Pakora'

In [28]:
food = "biryani"
food

'biryani'

# String methods

In [29]:
food

'biryani'

In [26]:
len(food)

7

In [27]:
# capitalize every element
food.capitalize()

'Biryani'

In [30]:
# uppercase letters
food.upper()

'BIRYANI'

In [32]:
# lowercase letters
food.lower()

'biryani'

In [33]:
# Replace
food.replace("b", "sh")

'shiryani'

In [34]:
# Counting a specific alphabet in a string
name = "baba_aammar with Dr Adnan ahmad"
name

'baba_aammar with Dr Adnan ahmad'

In [35]:
name.count("a")

8

### - finding an index number in String

In [38]:
name = "baba_aammar with Dr Aammar Tufail"
name

'baba_aammar with Dr Aammar Tufail'

In [40]:
name.find("D")

17

In [42]:
### - How to split a string
food = "I love samosa, pakora, biryani and karahi"
food

'I love samosa, pakora, biryani and karahi'

In [43]:
food.split(",")

['I love samosa', ' pakora', ' biryani and karahi']

## Basic data structure in Python
**1. Tuple**

**2. List**

**3. Dictionaries**

**4. Set**

## 1-Tuple
- ordered collection of elements
- enclosed in () round braces/ parenthesis
- Different kind elements can be stored 
- once elements are stored you cannot change them (unmutatable)

In [45]:
tup1 = (1, "Python", True, 2.5)
tup1

(1, 'Python', True, 2.5)

In [46]:
# type of a tuple
type(tup1)

tuple

### - Indexing in tuple

In [51]:
tup1[2]

True

In [52]:
tup1[1]

'Python'

In [54]:
#last element is exclusive 
tup1[0:3]

(1, 'Python', True)

In [55]:
#count of element in tuple
len(tup1)

4

In [56]:
tup2 = (2, "Adnan", 3.5, False)
tup2

(2, 'Adnan', 3.5, False)

In [57]:
#concatinate (to add two tuple or >2)
tup1 + tup2

(1, 'Python', True, 2.5, 2, 'Adnan', 3.5, False)

In [60]:
#concatinate + repeat
tup1*2 + tup2

(1, 'Python', True, 2.5, 1, 'Python', True, 2.5, 2, 'Adnan', 3.5, False)

In [61]:
tup3 = (20,50,30,60,79,85)
tup3

(20, 50, 30, 60, 79, 85)

In [62]:
#minimum
min(tup3)

20

In [63]:
max(tup3)

85

In [64]:
tup3*2

(20, 50, 30, 60, 79, 85, 20, 50, 30, 60, 79, 85)

---

## 2- List
- ordered collection of elements
- enclosed in [ ] square braces/bracket
- Mutateable, you can change the values

In [82]:
List1 = [2, "Adnan", False]
List1

[2, 'Adnan', False]

In [68]:
type(List1)

list

In [69]:
len(List1)

3

In [70]:
List1[2]

False

In [71]:
List2 = [3, 5, "Adnan", "Usman", 478, 53.2, False]
List2

[3, 5, 'Adnan', 'Usman', 478, 53.2, False]

In [72]:
List1 + List2

[2, 'Adnan', False, 3, 5, 'Adnan', 'Usman', 478, 53.2, False]

In [73]:
List1*2

[2, 'Adnan', False, 2, 'Adnan', False]

In [80]:
List1

[2, 'Adnan', False]

In [81]:
List1.reverse()
List1

[False, 'Adnan', 2]

In [83]:
List1.append("codanics Youtube channel")
List1

[2, 'Adnan', False, 'codanics Youtube channel']

In [104]:
List3 = [20,30,35,50,40,12,15,11,10,356,56,886]
List3

[20, 30, 35, 50, 40, 12, 15, 11, 10, 356, 56, 886]

In [105]:
len(List3)

12

In [106]:
#sorting a List
List3.sort()
List3

[10, 11, 12, 15, 20, 30, 35, 40, 50, 56, 356, 886]

In [108]:
List3*2

[10,
 11,
 12,
 15,
 20,
 30,
 35,
 40,
 50,
 56,
 356,
 886,
 10,
 11,
 12,
 15,
 20,
 30,
 35,
 40,
 50,
 56,
 356,
 886]

In [111]:
List= List1 + List2
List

[3, 5, 'Adnan', 'Usman', 478, 53.2, False]

## 3- Dictionaries
- An unordered collection of elements
- key and value
- curly braces or brackets {}
- Mutateable/Change the values

In [113]:
#food and their prices
Food1 = {"samosa" : 30, "Pakora":100, "Raita":20, "Salad":50, "Chicken Rolls":30}
Food1

{'samosa': 30, 'Pakora': 100, 'Raita': 20, 'Salad': 50, 'Chicken Rolls': 30}

In [115]:
type(Food1)

dict

In [116]:
# Extract data
Keys1 = Food1.keys()
Keys1

dict_keys(['samosa', 'Pakora', 'Raita', 'Salad', 'Chicken Rolls'])

In [118]:
values1 = Food1.values()
values1

dict_values([30, 100, 20, 50, 30])

In [119]:
#adding new element
Food1["Tikki"] = 10
Food1

{'samosa': 30,
 'Pakora': 100,
 'Raita': 20,
 'Salad': 50,
 'Chicken Rolls': 30,
 'Tikki': 10}

In [120]:
# update the values
Food1["Tikki"]= 15
Food1

{'samosa': 30,
 'Pakora': 100,
 'Raita': 20,
 'Salad': 50,
 'Chicken Rolls': 30,
 'Tikki': 15}

In [121]:
Food2 = {"Dates":50, "Chocolates":200, "Siwaiyan":1000}
Food2

{'Dates': 50, 'Chocolates': 200, 'Siwaiyan': 1000}

In [125]:
#concatinate
Food1.update(Food2)
Food1

{'samosa': 30,
 'Pakora': 100,
 'Raita': 20,
 'Salad': 50,
 'Chicken Rolls': 30,
 'Tikki': 15,
 'Dates': 50,
 'Chocolates': 200,
 'Siwaiyan': 1000}

In [126]:
Food1

{'samosa': 30,
 'Pakora': 100,
 'Raita': 20,
 'Salad': 50,
 'Chicken Rolls': 30,
 'Tikki': 15,
 'Dates': 50,
 'Chocolates': 200,
 'Siwaiyan': 1000}

---

## 4-Set
- unordered and unindexed
- curly braces are used {}
- No duplicates allowed

In [127]:
s1 = {1, 2.2, 5.2, "Adnan", "Mani", "Shafi", True}
s1

{1, 2.2, 5.2, 'Adnan', 'Mani', 'Shafi'}

In [128]:
s1.add("abba")

In [129]:
s1

{1, 2.2, 5.2, 'Adnan', 'Mani', 'Shafi', 'abba'}